Repository mart1ver/oressource, pull requests merged in 2020-10, with the labels that each got.

#383 Correction du test TravisCI
  .travis.yml
Labels: Serveur, 🐘php, 🐛Bug, 🔨build

#407 fix #406 pas de localité crash sorties!
  api/sorties.php
  changelog.md
  ifaces/sorties.php
  mysql/2020-10-18_remove_sortie_localite.sql
  mysql/oressource.sql
Labels: Fix, sql, 🐘php, 🐛Bug

#412 Petit cleanup du code des verif_sorties
  ifaces/verif_sorties.php
Labels: Amelioration, Client web, 🐘php
